@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish-Black";
  src: url("./fonts/Mulish-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish-SemiBold";
  src: url("./fonts/Mulish-SemiBold.ttf") format("truetype");
}

:root {
  background-color: rgb(12, 12, 12);
}

.container {
  background-image: conic-gradient(
    from 180deg at 50% 50%,
    #ef7300 0deg,
    180deg,
    #ef0f00 1turn
  );
  border-radius: 50%;
  filter: blur(72px);
  opacity: 0.5;
  position: absolute;
}

.reactLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
